.fetch-api {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 90%;
  padding: 1em 0;
  gap: 1em; 
}