.interview-dashboard {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-top: 1px solid white;
  padding: 1.5em 0;
}

.dashboard-header {
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.header-button {
  padding: .5em .5em;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #b4b4b4;
  border-radius: 8px;
}

.header-button:hover {
  background-color: #b4b4b4;
}

.dashboard-content {
  display: flex;
  justify-content: center;
  width: 70%;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 30em;
  width: 95%;
}

.section-item {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .75em;
  overflow-y: scroll;
  background-color: #cdcdcd;
  flex: 1;
}

.section-header {
  margin: .5em 0;
  text-align: center;
  text-transform: capitalize;
}

.section-buttons {
  display: flex; 
  align-items: stretch;
  width: 100%;
}

.section-button {
  padding: .5em;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #b4b4b4;
  flex: 1;
}

.section-button:hover {
  background-color: #b4b4b4;
}

.button-selected {
  background-color: #cdcdcd !important;
  border: 1px solid #cdcdcd !important;
}

.section-content {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.section-sub-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.25rem;
  text-align: left;
}

.sub-content-item {
  background-color: #b4b4b4;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  font-size: .75em;
  padding: 20px;
  text-align: start;
}

.section-img {
  width: 100%;
}

